body {
    width: 375px;
    height: 604px;
  }
  
  header {
    width: 375px;
    height: 44px;
    display: flex;
    justify-content: space-between;
  }
  
  .mylogo {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
    padding-left: 20px;
  }
  
  .imagemenuicon {
    width: 24px;
    height: 24px;
    padding-top: 10px;
    padding-right: 20px;
  }
  
  .headliner {
    background-image: url(/portfolio/Assets/header-shapes\ mobile@2x.png);
    width: 375px;
    height: 604px;
    top: 92px;
    padding: 114px 24px 11px 24px;
    gap: 12px;
    background-repeat: no-repeat;
    display: grid;
    background-size: cover;
  }
  
  .headlinertext {
    width: 352px;
    height: 49px;
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 42px;
    color: #172b4d;
  }
  
  .text1 {
    width: 338px;
    height: 160px;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    color: #172b4d;
  }
  
  .p2 {
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    width: 127px;
    height: 0px;
    gap: 16px;
  }
  
  .socialmedialogos {
    width: 170.17px;
    height: 150px;
  }